.arrivals {
  @include adaptive-value('margin-bottom', 180, 80, 1);
}

.arrivals__top {
  text-align: center;
  margin-bottom: 60px;
}

.arrivals__title {
  margin-bottom: 24px;
}

.arrivals__subtitle {
  font-size: 18px;
  display: block;
}

.arrivals__top-link {
  color: $green;
  border-bottom: 1px solid $green;
}

.arrivals__item {
  padding: 0 15px;
  margin-bottom: 80px;
}

// =========================

.swiper-pagination-bullet {
  width: 30px;
  height: 3px;
  border-radius: 100px;
  background-color: $gray-800;
}