.form {
  margin-bottom: 20px;
  position: relative;
  max-width: 360px;
  width: 100%;

  &--sub {
    max-width: 495px;
    width: 100%;
  }
}

.form__radio {
  margin-bottom: 32px;
}

.form__label {
  display: block;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 8px;
}

.form__input {
  border: 1px solid $gray-400;
  box-sizing: border-box;
  border-radius: 4px;
  max-width: 360px;
  width: 100%;
  padding: 11px 165px 12px 16px;

  &::placeholder {
    font-family: $main;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: $gray-600;
  }

  &:focus {
    box-shadow: 0px 0px 0px 3px rgba($green, 0.5);
  }
}

.form__input--sub {
  max-width: 495px;
  width: 100%;
  margin-bottom: 24px;
}

.form__button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 14px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}