// ================== COLORS ================== \\
$white: #fff;
$black: #000;
$red: #ff4242;

$gray-900: #1e212c;
$gray-800: #424551;
$gray-700: #787a80;
$gray-600: #9a9ca5;
$gray-400: #d7dadd;
$gray-300: #e5e8ed;

$green: #17696a;
$green-light: #03cea4;

// ================== COLORS ================== \\


// ================== FONTS =================== \\
$main: 'Lato', Arial, sans-serif;
$second: 'Ubuntu', Arial, sans-serif;
// ================== FONTS =================== \\


// ================= OPTIONS ================== \\
$container: 1230px;
$m180: 180px;
// ================= OPTIONS ================== \\